<hr>
<section id="banner">
  <div class="container">
    <div class="flex g-4 flex-justify-between">
      <div class="flex flex-column flex-justify-center">
        <div>
          <!-- <div class="rating-square">
            <strong><img src="./assets/images/svg/star-ico.svg" alt=""> 4.6</strong>
            (6.9K Ratings)
          </div> -->
        </div>
        <h3>Goa Cruise – Your Journey Starts Here..</h3>
        <hr>
        <div class="slider-mobile">
          <ul>
            <li class="headerIcon"><img src="./assets/images/boat.svg" alt=""> Multiple cruise options</li>
            <li class="headerIcon"><img src="./assets/images/landscape.png" alt=""> Scenic views</li>
            <li class="headerIcon1"><img src="./assets/images/surfing.png" alt=""> Adventures</li>
          </ul>
        </div>
      </div>
      <!-- <div class="img-wrapper flex flex-justify-end">
        <img src="./assets/images/banner.avif" alt="">
      </div> -->
    </div>
  </div>
</section>
