<div class="booking-summary">
  <div class="header">
    <h4>Payment Summary</h4>
  </div>
  <div class="person-list">
    <div class="person-row" *ngFor="let item of bookingDetails">
      <div class="person-label">{{ item.count }} x {{ item.displayLabel }}</div>
      <div class="person-price">
        INR
        {{
          item.count *
            (selectedTransport?.title === 'With Transport' ? item.price + 200 : item.price)
        }}
      </div>
    </div>
  </div>

  <div class="total-section">
    <p>Total Payable Amount:</p>
    <strong>INR {{ totalAmount }}</strong>
  </div>

  <div class="discount-message">
    🎉 Woohoo! You saved INR {{ discountAmount }} on this booking!!
  </div>
</div>
