::ng-deep .custom-bottom-sheet .mat-bottom-sheet-container {
  margin-bottom: 70px;
}
::ng-deep .cdk-overlay-backdrop {
  background: transparent !important;
}
::ng-deep .mat-bottom-sheet-container {
  background: white !important; /* Ensures bottom sheet is clear */
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3); /* Keeps shadow effect */
  padding: 0px;
  border-radius: 24px;
}

.booking-summary {
  background: transparent;
  padding: 16px;
  border-radius: 12px 12px 0 0;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  h4 {
    margin: 0;
  }
}

.close-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  font-weight: 300;
}

.box-section {
  background: white;
  padding: 8px;
  border-radius: 8px;
  margin-top: 24px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 8px 0;
  }
  p {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #333;
    margin: 8px 0;
  }
  span,
  strong {
    font-weight: 600;
  }
}
.discount-message {
  margin-top: 24px;
}
.person-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  background: #f8f9fa;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
}

.person-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  padding: 12px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  .person-label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    word-break: break-word;
  }

  .person-count {
    font-size: 14px;
    color: #555;
    text-align: center;
    font-weight: 500;
  }

  .person-price {
    font-size: 14px;
    font-weight: 600;
    color: #ff5722;
    text-align: right;
  }
}

.total-section {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;

  p {
    margin: 0;
    font-weight: 500;
    color: #333;
  }

  strong {
    font-size: 18px;
    font-weight: 700;
    color: #d32f2f;
  }
}
