// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$myraan-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($myraan-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($myraan-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($myraan-theme);

/* This code is written by
  Name: Sushant Ramchandra Jadhav.
  Designation: FullStack Developer,
  Version:1.0.1
  Designing for: MYRAAN
*/
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: halyard-display;
  src:
    url('https://use.typekit.net/af/165087/00000000000000007735adc0/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/165087/00000000000000007735adc0/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/165087/00000000000000007735adc0/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: halyard-text;
  src:
    url('https://use.typekit.net/af/e40556/00000000000000007735adbc/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/e40556/00000000000000007735adbc/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/e40556/00000000000000007735adbc/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: halyard-text;
  src:
    url('https://use.typekit.net/af/06aac1/00000000000000007735adbe/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/06aac1/00000000000000007735adbe/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/06aac1/00000000000000007735adbe/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i3&v=3')
      format('opentype');
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: halyard-text;
  src:
    url('https://use.typekit.net/af/a7393c/00000000000000007735adc2/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/a7393c/00000000000000007735adc2/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/a7393c/00000000000000007735adc2/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: halyard-text;
  src:
    url('https://use.typekit.net/af/7c9acc/00000000000000007735adc8/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/7c9acc/00000000000000007735adc8/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/7c9acc/00000000000000007735adc8/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}
:root {
  --primary-color: #a914e0;
  --line-colors: #e1e1e1;
}
html,
body {
  font-family: Poppins, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px !important;
}

body ol,
body ul {
  padding: 0;
}
.link {
  color: rgb(255, 87, 34);
  font-weight: 500;
}
section h2 {
  font-size: 24px;
  font-weight: 500;
}
p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
/* Padding & Margins */
.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-3 {
  padding: 1.2rem;
}
.p-4 {
  padding: 1.5rem;
}
.p-5 {
  padding: 1.75rem;
}
.pe-1 {
  padding-right: 0.5rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-3 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-5 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-3 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-5 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.m-1 {
  padding: 0.5rem;
}
.m-2 {
  padding: 1rem;
}
.m-3 {
  padding: 1.2rem;
}
.m-4 {
  padding: 1.5rem;
}
.m-5 {
  padding: 1.75rem;
}
.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-3 {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}
.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.mx-5 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}
.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-3 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-5 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

/* FLEX */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-justify-start {
  justify-content: flex-start;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-around {
  justify-content: space-around;
}
.flex-justify-evenly {
  justify-content: space-evenly;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-align-stretch {
  align-items: stretch;
}
.flex-align-baseline {
  align-items: baseline;
}
.flex-align-center {
  align-items: center;
}
.flex-align-start {
  align-content: flex-start;
}
.flex-align-end {
  align-content: flex-end;
}
.flex-align-stretch {
  align-content: stretch;
}
.flex-align-around {
  align-content: space-around;
}
.flex-align-between {
  align-content: space-between;
}
.g-1 {
  gap: 10px;
}
.g-2 {
  gap: 15px;
}
.g-3 {
  gap: 20px;
}
.g-4 {
  gap: 30px;
}

.border div {
  border: 1px solid #ccc;
}

.modal-body {
  overflow: auto;
}
img {
  max-width: 10%;
}
app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.8);
}
header,
section {
  position: relative;
  z-index: 19;
}
#listing-points {
  h1 {
    font-size: 24px;
    font-weight: 600;
  }
  h2 {
    font-size: 18px;
  }
  ol {
    margin-left: 13px;
  }
  ol ol {
    margin-left: 20px;
  }
  li {
    font-size: 13px;
    padding: 7px 0;
  }
  > div > ol > li::marker {
    font-weight: 500 !important;
    font-size: 18px;
  }
}
.accordion-button {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .m-ele {
    display: none;
  } // mobile hide
  .d-ele {
    display: block;
  } // desktop show
}
@media screen and (max-width: 767px) {
  img.logo {
    width: 70px;
  }
  .m-ele {
    display: block;
  } // mobile show
  .d-ele {
    display: none;
  } // desktop hide
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 16px !important;
  }

  .modal-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
  }
  .modal-body {
    height: 100vh;
    padding-top: 120px !important;
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.p-datepicker-group th,
.p-datepicker-group td {
  text-align: center !important;
}
.p-datepicker table td > span {
  border-radius: 0;
  aspect-ratio: 1/1;
  width: 80px;
  height: auto;
}
.p-datepicker .p-datepicker-header {
  padding: 10px 5px;
}
.p-datepicker .p-datepicker-header div {
  padding-left: 20px;
}
.p-datepicker .p-datepicker-header button + div {
  padding-right: 20px;
  padding-left: 0;
}
.p-inputwrapper > span > input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .p-datepicker table td > span {
    width: 52px;
  }
  .p-datepicker table td > span small {
    font-size: 10px;
  }
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
