.container {
  max-width: 1320px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  margin-top: 120px;
  margin-bottom: 100px;
  border-radius: 8px;
}

h1,
h2 {
  color: #2c3e50;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}
