.section {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 100px;
}
hr {
  background: rgb(161 161 161);
  border: none;
  height: 1px;
  margin: 5px 0;
}
p {
  margin-bottom: 0;
}
.error{
color: red;
font-size: 12px;
}
@media screen and (min-width: 768px) {
  .checkout-container {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin-bottom: 28px;
  }
  .leftDiv {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .rightDiv {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .booking-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .booking-top {
    display: flex;
    gap: 8px;
  }
  .booking-name {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    span {
      font-weight: 500;
    }
  }
  .booking-image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .booking-info h3 {
    font-size: 18px;
    font-weight: bold;
  }
  .booking-info-p {
    margin-top: 12px !important ;
  }

  .rating {
    color: green;
    font-size: 14px;
  }

  .instant-confirmation {
    color: #666;
    font-weight: bold;
  }

  .contact-details,
  .payment-option,
  .booking-summary {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }

  .contact-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .nameForm {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .phone-input {
    display: flex;
    gap: 10px;
  }

  .country-code {
    width: 60px;
  }

  .phone-number {
    flex: 1;
  }

  .discount-message {
    background: #e5ffe5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .seats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-weight: bold;
  }

  .seats-info {
    display: flex;
    align-items: center;
    color: #f97316;
    gap: 4px;
  }

  .timer {
    display: flex;
    align-items: center;
  }

  .time {
    color: #f97316;
    font-size: 16px;
  }

  .progress-bar {
    width: 60px;
    height: 6px;
    background: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 5px;
  }

  .progress-fill {
    height: 100%;
    background: linear-gradient(90deg, #f97316, #ffc107);
    transition: width 1s linear;
  }

  .payment-section {
    display: flex;
    margin-top: 12px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  .payment-section-end {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
  }
  .payment-container {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .payment-options {
    
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
  }

  .payment-option {
    min-width: 200px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: #333;
    transition: all 0.3s ease;
  }

  .payment-option:hover {
    background-color: #fff5ee;
  }

  .payment-option.selected {
    border-color: #ff5722;
    color: #ff5722;
  }

  .terms {
    font-size: 14px;
    color: #666;
  }

  .original-price {
    color: #999;
    text-decoration: line-through;
  }

  .final-price {
    font-size: 18px;
    font-weight: bold;
  }

  .confirm-pay-btn {
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .innerContainer {
    flex-direction: column;
    gap: 20px;
  }
  .offers-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .featuresContainer {
    display: flex;
    flex-direction: row;
    gap: 28px;
  }
  .featureTitle {
    white-space: nowrap;
    min-height: 4px;
    margin-top: 12px;
  }
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .web {
    display: none !important;
  }
  .section {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 120px;
    margin-bottom: 100px;
  }
  .checkout-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-around;
  }
  .leftDiv {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .rightDiv {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .booking-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .booking-top {
    display: flex;
    gap: 8px;
  }
  .booking-name {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    span {
      font-weight: 300;
    }
  }
  .booking-image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .booking-info h3 {
    font-size: 18px;
  }
  .booking-info-p {
    margin-top: 12px !important ;
    font-weight: 200 !important;
  }

  .rating {
    color: green;
    font-size: 14px;
  }

  .instant-confirmation {
    color: #666;
    font-weight: bold;
  }

  .contact-details,
  .payment-option,
  .booking-summary {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  .contact-details {
    span{
      font-size: 16px !important;
    }
    p{
      font-size: 12px !important;
font-weight: 200;
margin-bottom: 12px !important;
    }
  }
  .contact-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 2px;
  }
  .nameForm {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  .phone-input {
    display: flex;
    gap: 10px;
  }

  .country-code {
    width: 60px;
  }

  .phone-number {
    flex: 1;
  }

  .discount-message {
    background: #e5ffe5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .seats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-weight: bold;
  }

  .seats-info {
    display: flex;
    align-items: center;
    color: #f97316;
    gap: 4px;
  }

  .timer {
    display: flex;
    align-items: center;
  }

  .time {
    color: #f97316;
    font-size: 16px;
  }

  .progress-bar {
    width: 60px;
    height: 6px;
    background: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 5px;
  }

  .progress-fill {
    height: 100%;
    background: linear-gradient(90deg, #f97316, #ffc107);
    transition: width 1s linear;
  }

  .payment-section {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  .payment-section.mobile {
    z-index: 1000; /* Ensures it's above content */
  }
  .payment-section-end {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 12px;
    left: 0;
    z-index: 1000;
  }
  .payment-container {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
  }

  .payment-options {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }

  .payment-option {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    transition: all 0.3s ease;
  }

  .payment-option:hover {
    background-color: #fff5ee;
  }

  .payment-option.selected {
    border-color: #ff5722;
    color: #ff5722;
  }

  .terms {
    font-size: 14px;
    color: #666;
  }

  .original-price {
    color: #999;
    text-decoration: line-through;
  }

  .final-price {
    font-size: 18px;
    font-weight: bold;
  }
  .viewDetails {
    font-size: 12px;
    color: blue;
    text-decoration: underline;
  }
  .confirm-pay-btn {
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .offers-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .featureTitle {
    font-size: 16px !important;
  }
  .info p {
    font-size: 12px;
  }
  .innerContainer {
    flex-direction: column;
    gap: 20px;
  }
  .featuresContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px;
    text-align: center;
  }
  .container {
    padding: 0 !important;
  }
}
