.day-container {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1/1;
  border: 1px solid #f7f7f7;
  border-radius: 4px;
  cursor: pointer;
  justify-content: space-evenly;
}

div#upcoming-dates {
  gap: 10px;
  margin:20px 0 30px;
}
.more_dates{text-decoration: underline;font-size: 14px;}
ul {
  padding-left: 15px;
  margin-top:10px
}
li{
  list-style: circle;
  line-height: 24px;
  font-size: 14px;
}
#upcoming-dates{
  .day-container{
    &:hover{
      background-color: #f1f1f1;
      border-color: #cfcfcf;
    }
    &.active{
      color: rgb(255, 87, 34);
      background: rgb(243, 233, 255);
      border:1px solid rgb(255, 87, 34);
    }
    color:#444;
    &.open_datepicker{
      position: relative;
    }
  }
  .count {
    font-size: 16px;
    font-weight: 500;
  }
  .day {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    padding-top: 7px;
  }
  .price{
    font-size: 12px;
    padding-bottom: 7px;
  }
}
#packages {
  overflow: auto;
  padding:10px;
  margin:0 -10px;
  .card{
    min-width: 280px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 2px 8px;
    h4{font-size: 18px;}
    button{
      border:1px solid rgb(255, 87, 34);
      border-radius: 4px;
      color: rgb(255, 87, 34);
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      padding: 7px;
      background: none;
      margin-top:10px;
    }
  }
}
.selected-btn {
  background-color: purple;
  color: white; /* Make text visible */
}

.datetime{font-size: 13px;}
.next-btn{background: #FF5722;color:#fff;padding: 10px 20px;border: none;border-radius: 4px;}
.time-info {
  background: rgb(255, 248, 239);
  padding: 20px;
  margin-top: 30px;
  color: rgb(180 108 17);
}

.time-info p {
  margin: 0;
}
.overlay{
  background:rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99;
  .inner-container{
    background:#fff;
    border-radius: 10px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.counter-wrapper > .flex{margin-bottom: 40px;}
.counter-wrapper h4 {
  font-size: 16px;
  margin-bottom: 0;
}

.counter-wrapper .category small {
  font-size: 11px;
}

.counter-wrapper .category {
  width: 55%;
}
.align-item-center {
  align-items: center;
}
.counter-wrapper .counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter-wrapper .counter button {
  padding: 7px;
  border: none;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F3E9FF;
  color: #FF5722;
}

.price {
  width: 20%;
  justify-content: end;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.actual-price {
  font-size: 12px;
  color: #444;
  text-decoration: line-through;
}

.discounted-price {
  font-weight: 500;
}
.guest-details h3{font-size: 16px;padding-bottom:10px;}
.guest-details h4{font-size: 14px;}
#next-btn-info-price p {
  margin: 0;
}

#next-btn-info-price button {
  padding: 10px;
  min-width: 130px;
  background: #FF5722;
  border: 0;
  color: #fff;
  border-radius: 4px;
}

#next-btn-info-price {
  margin: 0;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

div#next-btn-info-price p strong {width: 200px;overflow: hidden;text-overflow: ellipsis;display: block;white-space: nowrap;}

@media screen and (max-width:768px) {
  li{font-size: 12px;}
  #packages .card {
    h4{font-size: 15px;font-weight: 500;}
    button{font-size: 14px;}
  }
}
