section {
  padding: 20px 0;
  color: #444;

  h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
  }

  h3 {
    margin: 5px 0 0;
    font-size: 20px;
  }
}
.hidden{
  display: none;
}
.container{
  padding: 0px 16px !important;
}
.list-h3 {
  margin-top: 20px !important;
}

h4 {
  font-size: 20px;
  color: #444;
  margin: 10px 0;
}

ul {
  padding-left: 18px;
  margin-top: 10px;
}

li {
  list-style: circle;
  line-height: 24px;
  font-size: 13px;
}

.link-cursor {
  cursor: pointer;
}

.accordion-button {
  background-color: #ff7b52 !important;
  color: white !important;
  border-radius: 12px;
}

.accordion-flush>.accordion-item>.accordion-header .accordion-button,
.accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed {
  border-radius: 12px;
}

.accordion-button:not(.collapsed) {
  background-color: #e64a19 !important;
  border-radius: 12px;
}

.accordion-body {
  border-radius: 12px;
  background-color: #fff3e0;
}

.card {
  border-radius: 10px !important;
  overflow: hidden;
}

.cardImg {
  padding: 10px;
  height: 600px;
}
.select-package-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form-select{
  width: 200px;
  border-radius: 28px;
  border: 1px solid #ccc;
  padding-top: 5px;
  line-height: 1.2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#modal-nav a.active {
  color: rgb(255, 0, 122);
}

.modal-slider {
  img {
    width: 100%;
    height: 200px;
  }
}
.custom-dots {
  position: absolute;
  left: 35%;
  bottom: -5px;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
  z-index: 15;
}
orange-icon{
  filter: brightness(0) invert(0);
  color: #fd6b3e;
}
.custom-dots button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0;
}

.custom-dots button.active {
  background-color: white;
  width: 10px;
  height: 10px;
}

/* Last slide overlay */
.last-slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  background: rgba(0, 0, 0, 0.45);

  text-align: center;
  padding: 20px;
}

.save-text {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.save-text span {
  color: #ffae00;
  font-weight: 700;
}

.sub-text {
  font-size: 14px;
  opacity: 0.9;
  margin-top: -5px;
  margin-bottom: 10px;
}

.divider {
  width: 70%;
  border: 0.8px solid rgba(255, 255, 255, 0.4);
  margin: 12px 0 20px;
}

.expert-btn {
  background: #ff6b2c;
  border: none;
  color: white;
  padding: 10px 28px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}



.main-img {
  height: 220px;
  object-fit: cover;
}


.card {
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 7px;
  margin: 20px 0;

  .slider {
    overflow: hidden;
    max-width: 520px;
    min-width: 520px;
    height: 100%;

    img {
      border-radius: 12px;
      overflow: hidden;
      width: 100%;
      width: 500px;
      height: 364px;
    }
  }

  .info {
    font-size: 14px;
    width: 600px;        /* FIXED WIDTH */

    // margin-left: 12px;
  }

  .payments {
    width: 350px;
    border-left: 1px dashed #cecece;
    padding-left: 10px;

    .primary-button {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-feature-settings: normal;
      line-height: 20px;
      letter-spacing: 0.6px;
      height: 50px;
      background-color: rgb(255, 87, 34);
      border: none;
      color: rgb(255, 255, 255);
      width: 100%;
      border-radius: 7px;
    }

    .flip-container {
      perspective: 1000px;
      width: 100%;
      height: 50px;
    }

    .flip-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    .flip-container.flipped .flip-inner {
      transform: rotateY(180deg);
    }

    .flip-front,
    .flip-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }

    .flip-back {
      transform: rotateY(180deg);
    }

    .phone-number-button {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;
      cursor: default;
    }

    .secondary-button {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-feature-settings: normal;
      line-height: 20px;
      letter-spacing: 0.6px;
      height: 44px;
      background-color: white;
      border-radius: 7px;
      border-color: #ffa88e;
      border-width: 1px;
      border-style: solid;
      color: rgb(255, 87, 34);
      width: 100%;
    }

    .features {
      margin-top: 10px !important;

      >div {
        display: flex;
        font-size: 13px;
margin-bottom: 12px !important  ;
        img {
          margin-right: 10px;
        }
      }
    }
  }
}

h4#modal-basic-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  font-size: 16px;
  padding-bottom: 10px;
}

#modal-nav {
  white-space: nowrap;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  overflow: scroll;
  scroll-behavior: smooth;
}

#modal-nav a {
  text-decoration: none;
  padding: 4px 10px;

  &.active {
    color: rgb(255, 87, 34);
    background: rgb(254, 247, 251);
  }
}

#modal-nav::-webkit-scrollbar {
  display: none;
}

#scrollBody {
  padding-left: 0;
  padding-right: 0;
  max-height: 70vh;
}

span.rating {
  color: #19AD6F;
  font-weight: 500;
  position: relative;

  svg {
    width: 14px;
    position: relative;
    top: -2px;
  }
}

svg#star-full-big {
  width: 28px;
}

.detail-content.d-ele {
  max-height: 280px;
  overflow: hidden;
  position: relative;
}

.detail-content.d-ele:after {
  height: 100px;
  width: 100%;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 45%, 10%, 0) 100%);
}

.reviews-wrapper>div:first-child {
  font-size: 28px;
  font-weight: 700;
  color: #ff007a;
}

.review-count {
  font-weight: 600;
  color: #444;
}

#detailed-reviews {
  .review {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .review-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .review-details {
    flex-grow: 1;
  }

  .review-name {
    font-weight: bold;
  }

  .review-date {
    font-size: 12px;
    color: #777;
  }

  .review-stars {
    display: flex;
    color: #ff007a;
  }

  .review-star {
    font-size: 20px;
    margin-right: 2px;
  }

  .review-text {
    margin-top: 5px;
  }
}

.tag {
  background: #088943;
  border-radius: 4px 4px 0 0;
  color: #fff;
  display: inline-block;
  height: auto;
  min-height: 20px;
  line-height: 20px;
  padding: 5px 8px 10px 8px;
  position: relative;
  margin: 0 10px 0px 0;
  text-decoration: none;
  font-size: 13px;
  font-size: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 30%), 50% 100%, 0% calc(100% - 30%));
}

.tag::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #088943;
}

.modal-footer {
  div {
    min-width: 120px;
    text-align: right;
  }

  button {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-feature-settings: normal;
    line-height: 20px;
    letter-spacing: 0.6px;
    height: 44px;
    background-color: rgb(255, 87, 34);
    border: none;
    color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 20px;
    padding: 0 10px;
  }
}

.modal-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #fff;
}

.modal-footer div {
  display: flex;
  justify-content: space-around;
}

.price-div {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .rating-section{
    margin-bottom: 12px;
  }
  .select-package-container{
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
   
  }
  .modal-body {
    padding-bottom: 100px;

    .features {
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-bottom: 20px;

      div {
        font-size: 14px;
      }
    }

    .reviews-wrapper {
      color: #444;
      font-size: 16px;
    }
  }

  .modal-experience {
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
  }

  ::ng-deep .modal-content {
    background-color: transparent;
  }

  .whatsapp {
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 32px;
    white-space: nowrap;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }

  .amount {
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 8px;
    padding: 12px;
    padding-bottom: 20px;
    padding-top: 10px;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .amount-price {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .dotted-border {
    display: flex;
    border: 2px dashed #ccc;
    border-radius: 20px;
    padding: 10px;
    padding-right: 5px !important;
    width: 240px;
    margin-top: 20px;
    div {
      display: flex;
      font-size: 16px;

    }

  }

}

.modal-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

.features-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Creates 2 equal columns */
  gap: 5px;
  /* Adds spacing between items */
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;
}

.feature img {
  object-fit: contain;
}

.feature div {
  font-size: small;
}

@media screen and (max-width: 767px) {
  .primary-button{
    margin: 0px !important;
  }
  .form-select{
    width: 110px;
    height: 28px;
   
  }
  .select-package-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .save-text { font-size: 16px; }
  .sub-text { font-size: 12px; }
  .expert-btn { padding: 8px 18px; font-size: 14px; }
  .divider { width: 60%; }
  .phone-icon-button {
    min-width: 48px;
    width: 45px;
    height: 50px;
    padding: 0;
    border: 2.5px solid #fd6b3e;
    background: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff5722;

    mat-icon {
      color: #ff5722;
      font-size: 24px;
      width: 24px;
      height: 24px;
    }

    &:hover {
      background: #fff5f2;
    }
  }
  .list-h3{
    font-size: 16px !important;
    color: #202020 !important;
    margin-top: 4px !important;
  }
  .amount-price {
    font-size: 18px;
    font-weight: 600;
    color: #202020 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 27px;
  }

  .amount-price-section {
    display: flex;
    align-items: start;
    justify-items: start;
    gap: 4px;
  }

  .old-price {
    font-size: 16px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .discount-badge {
    font-size: 10px;
    padding: 2px 8px;
    width: fit-content !important;
  }

  section {
    padding: 0px;
  }

  .card {
    padding: 0;

    .info,
    .payments {
      padding: 0 0px !important;
    }
  }

  .amount {
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    padding: 10px;
    padding-left: 0px;
    gap: 6px;
    background: white;
    align-items: center;

  }
.rating-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  #scrollBody {
    padding: 110px 0 0 !important;
    max-height: calc(100vh - 100px);
  }

  .card img {
    border-radius: 24px;
    height: 45vh;
    object-fit: cover;
    
    // width: fit-content !important;
    // height: auto !important;
  }
  .whatsapp-icon{
    width: 28px!important;
    height: 28px!important;
  }
  .white-icon{
    filter: brightness(0) invert(1);
  }

  section {
    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 26px;
    }

    .card .g-3 {
      gap: 10px;
    }
  }

  .card .payments button {
    font-size: 14px ;
  }

  .flip-container {
    .flip-inner {
      transition: none;
    }

    &.flipped .flip-inner {
      transform: none;
    }

    .flip-front,
    .flip-back {
      position: static;
      backface-visibility: visible;
      -webkit-backface-visibility: visible;
    }

    .flip-back {
      transform: none;
      display: none;
    }

    &.flipped .flip-back {
      display: block;
    }

    &.flipped .flip-front {
      display: none;
    }
  }

  .show-full-info .link {
    display: none;
  }

  .container {
    padding: 0 20px;
  }

  .card {
    border: none;
    >.flex {
      flex-direction: column;

      div {
        width: 100%;
        max-width: 100%;
      }

      .payments {
        border: none;

        .mobile-reverse {
          flex-direction: column-reverse !important;
          margin-bottom: 15px;
        }
      }
    }
  }

  .slider {
    max-height: 238px;
    width: 720px;
  }

  #experience .features div,
  #experience-modal .features div {
    font-size: 11px;
    width: 50%;
    display: inline-block;
    margin: 3px 0;
  }

  .modal-experience {
    background-color: white;
    width: 100%;
    position: static;
    /* Resets fixed positioning */
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
    /* Full width for smaller screens */
    margin: 0 auto;
  }

  ::ng-deep .modal-content {
    background-color: white;
  }

  .whatsapp {
    display: none;
  }

  .reviews-wrapper {
    flex-direction: column;
  }

  .tag {
    max-width: 70px !important;
  }

}

.reviews-wrapper {
  .rating-bar {
    width: 50%;
  }

  .progress {
    width: 60%;
    height: 7px;

    .progress-bar {
      border-radius: 10px;
      background: #ff007a;
    }
  }
}

.old-price {
  text-decoration: line-through;
  color: #777;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.discount-badge {
  display: flex;
  align-items: center;
  padding: 5px 2px;
  font-size: 9px;
  font-weight: 600;
  line-height: 14px;
  text-transform: capitalize;
  color: rgb(11, 130, 42);
  background: linear-gradient(90deg, rgba(11, 130, 42, 0.11) 3.64%, rgba(11, 130, 42, 0.1));
  gap: 3px;
  margin-left: -0.5px;
  margin-right: -0.5px;
}
.discount-badge-web {
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(11, 130, 42);
  background: linear-gradient(90deg, rgba(11, 130, 42, 0.11) 3.64%, rgba(11, 130, 42, 0.1));
  white-space: nowrap;
  margin-left: auto;
  text-align: center;
}
.rating-count{
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}