<header>
  <div class="container">
    <div class="flex header-section  ">
      <div routerLink="">
        <img src="./assets/images/Logo1.png" class="logo" alt="Myraan" />
      </div>
      <div class="flex flex-center g-1">
        <ul class="nav-links" id="navLinks">
          <li class="m-ele">MENU</li>
          <li (click)="toggleMegaMenu()"><a routerLink="/">Home</a></li>
          <li (click)="toggleMegaMenu()">
            <a routerLink="/about-us">About Us</a>
          </li>
          <li class="dropdown">
            <button (click)="toggleDropdown()" class="dropdown-btn">
              Activities
              <span class="arrow" [class.rotate]="dropdownOpen">▼</span>
            </button>
            <ul class="dropdown-menu" [class.show]="dropdownOpen">
              <li (click)="navigateTo('book-dinner-cruise-in-goa')">Dinner Cruises</li>
              <li (click)="navigateTo('best-private-yachts-in-goa')">Private Yachts</li>
              <li (click)="navigateTo('book-watersports-and-scuba-diving-in-goa')">Scuba Diving</li>
              <li (click)="navigateTo('book-water-sports-in-goa')">Water Sports</li>
              <li (click)="navigateTo('book-adventures-in-goa')">Adventures</li>
              <li (click)="navigateTo('book-sightseeing-in-goa')">Sightseeings</li>
              <li (click)="navigateTo('private-parties')">Private Parties</li>
            </ul>
          </li>
          <li (click)="toggleMegaMenu()">
            <a routerLink="/contact-us">Contact Us</a>
          </li>
          <li class="web" style="height: 24px; width: 24px; white-space: nowrap">
            <mat-icon>phone</mat-icon>

            <a
              href="tel:+917715959917"
              class="phone-no"
              style="color: inherit; text-decoration: none; margin-left: 6px"
            >
              77159 59917
            </a>
          </li>
        </ul>
        <div class="mobile-hamburger">
          <div class="hamburger" [class.open]="isVisible" id="hamburger">
            <a
              class="hamburger mobile-only"
              [class.open]="isVisible"
              id="hamburger"
              [href]="'tel:' + phone"
              aria-label="Call"
            >
            <mat-icon style="color: #444;">phone</mat-icon>

            </a>
          </div>
          <div class="hamburger" [class.open]="isVisible" id="hamburger" (click)="toggleMegaMenu()">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
