header {
  color: #444;
  font-size: 15px;
  background-color: white;
}
.logo {
  object-fit: contain;
  height: 96px;
  width: 201px;
}
.phone-icon {
  margin-left: 12px;
  width: 26px;
  height: 26px;
}
.testt {
  height: 52px;
  width: 52px;
  background: #ff7b52;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.h-line {
  content: '';
  width: 1px;
  height: 20px;
  background-color: #ccc;
}
.lang img {
  width: 20px;
}
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 2rem;
  align-self: center;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-size: 16px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
}
.phone-no {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 8px;
  padding: 4px;
  border-radius: 12px;
  letter-spacing: 1px;
}

.hamburger span {
  height: 2px;
  width: 25px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}
/* Dropdown container */
.dropdown {
  position: relative;
}

/* Dropdown button */
.dropdown-btn {
  background: none;
  border: none;
  color: #444;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Arrow rotation */
.arrow {
  font-size: 12px;
  transition: transform 0.3s;
}
.arrow.rotate {
  transform: rotate(180deg);
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 99;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.dropdown-menu li {
  padding: 6px;
  margin-left: 0;
  cursor: pointer;
  color: #444;
  font-size: 14px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.dropdown-menu li:hover {
  background: #ff5722;
  color: white;
  border-radius: 12px;
}
.dropdown-menu.show {
  display: block;
}
.web{
  display: block;
}
/* Responsive styling */
@media (max-width: 768px) {
  .web{
    display: none;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    margin: 1.5rem 0;
    a {
      color: #fefefe;
      position: relative;
      &:after {
        content: '';
        bottom: -20px;
        height: 1px;
        width: 20px;
        display: block;
        background-color: #cecece;
        left: calc(50% - 10px);
        position: absolute;
      }
    }
  }

  .hamburger {
    display: flex;
    span {
      background: #444;
    }
  }
  .hamburger.open {
    span {
      background: #fff;
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:first-child {
      transform: rotate(45deg) translateY(10px);
    }
    span:last-child {
      transform: rotate(-45deg) translateY(-12px) translateX(1px);
    }
  }
  .nav-active {
    transform: translateX(0);
  }
  header {
    color: #444;
    font-size: 15px;
    background-color: white;
  }
  .logo {
    object-fit: contain;
    width: 180px;
  }
  .dropdown {
    width: 100%;
    position: static;
  }
  .dropdown-btn {
    display: flex;
    justify-self: center;
    color: #fff;
  }
  .dropdown-menu {
    position: static;
    display: none;
    background: #222;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
  }

  .dropdown-menu li {
    font-size: 15px;
    white-space: normal; /* wrap long text */
    color: white;
  }

  .dropdown-menu li:hover {
    background: #333;
  }

  /* arrow rotate */
  .arrow {
    font-size: 12px;
    transition: transform 0.3s ease;
  }
  .arrow.rotate {
    transform: rotate(180deg);
  }
  .phone-icon {
    width: 24px;
    height: 24px;
  }
  .mobile-hamburger {
    display: flex;
    gap: 20px;
  }
}
