<section>
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel"
    data-bs-interval="2000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 carousel-img" src="/assets/banners/Cruise-01.svg" alt="First slide" />
      </div>
    </div>
  </div>
</section>
<section class="secondDiv">

  <section>
    <div class="container things-todo">
      <div class="flex innerContainer">
        <h2 class="offers-title">Things to Do...</h2>
        <div class="featuresContainer">
          @for (feature of mobFeatures; track feature) {
          <div class="card-main" (click)="navigateTo(feature.redirect)">
            <div>
              <img [ngStyle]="{ width: '68px', height: '68px' }" [src]="feature.icon" alt="Icon"
                class="card-main-img" />
            </div>
            <div class="info">
              <h4 class="featureTitle">{{ feature.title }}</h4>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="offers-container">
      <h2 class="offers-title">Offers for you</h2>
      <div class="offers-wrapper">
        <div class="offer-card"><img src="/assets/homepageImages/offerForYou2.png" class="offer-image" />
        </div>
        <div class="offer-card"><img src="/assets/homepageImages/offerForYou2.png" class="offer-image" />
        </div>
        <div class="offer-card"><img src="/assets/homepageImages/offerForYou1.png" class="offer-image" />
        </div>
      </div>

      <div class="offers-wrappers">
        <img src="/assets/homepageImages/offerForYou2.png" class="offer-image" width="100%" />
        <img src="/assets/homepageImages/offerForYou2.png" class="offer-image" width="100%" />
        <img src="/assets/homepageImages/offerForYou1.png" class="offer-image" width="100%" />
      </div>

    </div>
  </section>
</section>

<section class="travelers-section">
  <div class="travelers-container">
    <h2>Travelers' favorite choices</h2>

    <div class="travelers-wrapper" id="slick-slider">
      <div *ngFor="let offer of favListOne">
        <mat-card class="traveller-card">
          <img mat-card-image [src]="offer.image" alt="offer image" height="200" width="100%" />
          <div class="offer-content">
            <div>
              <p class="category">{{ offer.category }}</p>
              <h3 class="title">{{ offer.subTile }}</h3>
              <p class="confirmation">Instant confirmation</p>
              <p class="rating">
                ⭐ {{ offer.rating }} ({{ offer.reviews }}) • {{ offer.booked }} booked
              </p>
              <p class="price">
                <span class="current-price">₹ {{ offer.currentPrice }}</span>
                <span class="old-price" *ngIf="offer.oldPrice">₹ {{ offer.oldPrice }}</span>
              </p>
            </div>
            <!-- <button
            mat-button
            class="offer-button"
            (click)="goToService(offer?.routingUrl)"
          > -->
            <button mat-button class="offer-button" (click)="goToService(offer?.routingUrl)">
              {{ offer.buttonText }}
            </button>
            <button class="secondary-button" (click)="openWhatsApp('+917715959917')">
              <img [src]="'assets/whatsapp_icon.png'" alt="WhatsApp icon" class="whatsapp-icon" />
              ENQUIRE NOW
            </button>
          </div>

        </mat-card>
      </div>

    </div>
  </div>
  <button class="seeMoreBtn" (click)="navigateTo('book-dinner-cruise-in-goa')">
    Explore all activities >
  </button>
</section>

<section class="travelers-section">
  <div class="travelers-container">
    <h2>Popular Cruises in Goa</h2>

    <!-- Slick Slider Container -->
    <div class="travelers-wrapper" id="slick-slider">
      <div *ngFor="let offer of filteredHotelList">
        <mat-card class="traveller-card">
          <img mat-card-image [src]="offer.image" alt="offer image" height="200" />
          <div class="offer-content">
            <div>
              <p class="category">{{ offer.category }}</p>
              <h3 class="title">{{ offer.subTile }}</h3>
              <p class="confirmation">Instant confirmation</p>
              <p class="rating">
                ⭐ {{ offer.rating }} ({{ offer.reviews }}) • {{ offer.booked }} booked
              </p>
              <p class="price">
                <span class="current-price">₹ {{ offer.currentPrice }}</span>
                <span class="old-price" *ngIf="offer.oldPrice">₹ {{ offer.oldPrice }}</span>
              </p>
            </div>
            <button mat-button class="offer-button" (click)="goToService(offer?.routingUrl)">
              {{ offer.buttonText }}
            </button>
          </div>
        </mat-card>
      </div>
    </div>

  </div>

  <!-- View All Button -->
  <button class="seeMoreBtn" (click)="navigateTo('book-dinner-cruise-in-goa')">
    Explore all Popular Cruises >
  </button>
</section>

<section class="travelers-section">
  <div class="travelers-container">
    <h2>Scuba & Water Sports Combos</h2>
    <div class="travelers-wrapper" id="slick-slider">
      <div *ngFor="let offer of scubaList">
        <mat-card class="traveller-card">
          <img mat-card-image [src]="offer.image" alt="offer image" height="200" width="100%" />
          <div class="offer-content">
            <div>
              <p class="category">{{ offer.category }}</p>
              <h3 class="title">{{ offer.title }}</h3>
              <p class="confirmation">Instant confirmation</p>
              <p class="rating">
                ⭐ dummy booked
              </p>
              <p class="price">
                <span class="current-price">{{ offer.currentPrice }}</span>
                <span class="old-price">{{ offer.oldPrice }}</span>
              </p>
              <button mat-button class="offer-button" (click)="navigateTo('book-watersports-and-scuba-diving-in-goa')">
                Book this activity & get 20% off
              </button>
            </div>
            <!-- <button
            mat-button
            class="offer-button"
            (click)="goToService(offer?.routingUrl)"
          > -->

          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <button class="seeMoreBtn" (click)="navigateTo('book-watersports-and-scuba-diving-in-goa')">
    Explore all Water Activities >
  </button>
</section>
<!-- <section class="travelers-section">
  <div class="travelers-container">
    <h2>Most Popular Watersports</h2>
    <div class="travelers-wrapper" id="slick-slider">
      <div *ngFor="let offer of MostPopularWatersports">
        <mat-card class="traveller-card">
          <img mat-card-image [src]="offer.image" alt="offer image" height="200" width="100%"/>
          <div class="offer-content">
            <div>
              <p class="category">{{ offer.name }}</p>
              <h3 class="title">{{ offer.name }}</h3>
              <p class="confirmation">Instant confirmation</p>
              <p class="rating">
                ⭐ dummy booked
              </p>
              <p class="price">
                <span class="current-price">₹ 1200</span>
                <span class="old-price" >₹ 300</span>
              </p>
              <button mat-button class="offer-button" (click)="navigateTo('book-dinner-cruise-in-goa')">
                Book this activity & get 20% off 
              </button>
            </div>
             <button
              mat-button
              class="offer-button"
              (click)="goToService(offer?.routingUrl)"
            > 
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <button class="seeMoreBtn" (click)="navigateTo('book-dinner-cruise-in-goa')">
    Explore all Dinner Cruise >
  </button>
</section> -->

<section class="travelers-section">
  <div class="travelers-container">
    <h2>Private Luxury Yachts in Goa</h2>

    <div class="travelers-wrapper" id="slick-slider">
      <div *ngFor="let offer of filteredYatchList">
        <mat-card class="traveller-card ">
          <img mat-card-image [src]="offer.image" alt="offer image" height="200" />
          <div class="offer-content">
            <div>
              <p class="category">{{ offer.category }}</p>
              <h3 class="title">{{ offer.subTile }}</h3>
              <p class="confirmation">Instant confirmation</p>
              <p class="rating">
                ⭐ {{ offer.rating }} ({{ offer.reviews }}) • {{ offer.booked }} booked
              </p>
              <p class="price">
                <span class="current-price">₹ {{ offer.currentPrice }}</span>
                <span class="old-price" *ngIf="offer.oldPrice">₹ {{ offer.oldPrice }}</span>
              </p>
            </div>
            <button mat-button class="offer-button" (click)="goToServiceYath(offer?.routingUrl)">
              {{ offer.buttonText }}
            </button>
          </div>
        </mat-card>
      </div>
    </div>


  </div>
  <button class="seeMoreBtn" (click)="navigateTo('book-private-yachts-in-goa')">
    Explore all yachts >
  </button>
</section>

<!-- <section class="private-parties-section">
  <div class="itinerary-container">
    <h2 class="inspiration">Private Parties</h2>
    <div class="cards" id="private-parties-slider">
      <div *ngFor="let party of privateParties" class="card" [style.background-image]="'url(' + party.image + ')'">
        <div class="overlay"></div>
        <div class="card-content">
          <div>
            <h3>{{ party.title }}</h3>
            <p>{{ party.description }}</p>
          </div>
          <button class="custom-btn">See activities</button>
        </div>
      </div>
    </div>

    
  </div>
</section> -->
<section class="simple-hex-section">
  <h2 class="inspiration">Private Parties</h2>

  <div class="simple-hex-grid">
    <div *ngFor="let item of privateParties" class="simple-hex" [style.background-image]="'url(' + item.image + ')'" (click)="navigateToPrivateParty(item.routingUrl)">
      <div class="simple-hex-overlay"></div>
      <div class="simple-hex-inner">
        <p>{{ item.title }}</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="itinerary-container">
    <h2 class="inspiration text-center">Inspiration for your itinerary</h2>
    <div class="custom-card-container">

      <div *ngFor="let card of cardDataList" class="custom-card">
        <h2 class="custom-card-title">
          <span class="custom-card-text">{{ card.title }}</span>
        </h2>
        <hr class="custom-divider" />

        <div class="custom-card-items">
          <div *ngFor="let place of card.places; let i = index" class="custom-card-item">
            <div class="custom-image-wrapper">
              <!-- <span class="custom-badge">{{ i + 1 }}</span> -->
              <img [src]="place.image" alt="Place Image" class="custom-card-image" />
            </div>
            <div class="custom-card-content">
              <h3 class="custom-place-title">{{ place.name }}</h3>
              <p class="custom-place-description">🔥 {{ place.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section>
  <div class="offer-card">
    <section id="listing-wrapper">
        <div class="card m-ele" id="special-offer">
          <div class="card-body">
            <div class="d-flex gap-2 align-items-center">
              <div class="offer-img"></div>
              <div class="offer-content mob">
                <h3>Big Group, Big Savings! <br>Up to 50% Off - Join Now! 🎉</h3>
                <p>Because More is Always Better! 🌟 <br>Join Us Now and <br>Elevate Your Experience!</p>
              </div>
              <div class="offer-content web">
                <h3>Big Group, Big Savings! Up to 50% Off - Join Now! 🎉</h3>
                <p>Because More is Always Better! 🌟 Join Us Now and Elevate Your Experience!</p>
              </div>
            </div>
               <button class="btn btn-light" (click)="callPhoneNumber('+917715959917')">
              Connect to Our Expert Now!  <span><a [href]="'https://wa.me/917715959917'" target="_blank" class="whatsapp-link mobile">
                <img src="/assets/whatsapp_icon.png"  alt="WhatsApp" width="20">
              </a></span>
            </button>
          </div>
        </div>
    </section>
  </div>
</section> -->
<app-faq></app-faq>