<router-outlet (activate)="onActivate($event)"></router-outlet>

<!-- <swiper-container navigation="true" pagination="true">
  <swiper-slide>
    <img src="./assets/images/card.avif" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="./assets/images/card.avif" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="./assets/images/card.avif" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="./assets/images/card.avif" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="./assets/images/card.avif" alt="">
  </swiper-slide>

</swiper-container>

<swiper-container
[slidesPerView]="3">
  <swiper-slide class="slider-content"><img src="./assets/images/svg/map-ico.svg" alt=""> Multiple route options</swiper-slide>
  <swiper-slide class="slider-content"><img src="./assets/images/svg/hourglass-ico.svg" alt=""> Frequent departures</swiper-slide>
  <swiper-slide class="slider-content"><img src="./assets/images/svg/panaroma-ico.svg" alt=""> Scenic views</swiper-slide>
</swiper-container> -->
