<mat-sidenav-container
  class="side-panel-container"
  [ngClass]="{ 'hidden-container': !isSidebarOpen }"
>
  <mat-sidenav
    #sidenav
    [mode]="'over'"
    [opened]="isSidebarOpen"
    [position]="'end'"
    [ngClass]="{
      'mobile-bottom-sheet': isMobileView,
      'show-bottom-sheet': isSidebarOpen,
    }"
    (opened)="scrollToTop()"
    (closed)="isSidebarOpen = false"
    (backdropClick)="closeSidePanel()"
  >
    <div #sidePanelContent class="side-panel-content">
      <div class="fixed-image">
        <mat-icon class="close-btn" (click)="closeSidePanel()">close</mat-icon>
        <img src="/assets/dinnercruise/DC21.avif" alt="Cruise Image" />
      </div>
      <div class="content">
        <h3>{{ this.hotelDetails.title }}</h3>
        <div class="details-container">
          <h4>What we provide:</h4>
          <ul>
            <li *ngFor="let rule of this.sessionData.selectedTransport.desc">{{ rule }}</li>
          </ul>
          <h4>Age Policy:</h4>
          <ul>
            <li>Below 4 Year Complimentary,</li>
            <li>Child between 4 to 10 years will be charged on child price</li>
            <li>Child Above 10 years will be charged on adult price</li>
          </ul>

          <h4 class="includes-title">{{ this.hotelDetails.priceIncludes.title }}</h4>

          <div
            *ngFor="let section of this.hotelDetails.priceIncludes.sections"
            class="category-section"
          >
            <p class="category-title"><span class="tick">✔</span> {{ section.category }}</p>
            <ul class="item-list">
              <li *ngFor="let item of section.items"><span class="tick">✔</span> {{ item }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
